/node_modules
/oh_modules
/local.properties
/build-profile.json5
/.idea
**/build
/.hvigor
/.hvigor-user-home
/.hdc-auto-cache/
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
entry/src/main/python/__pycache__/
entry/src/main/python/*.jpeg
MobiAgent/
AGENT.md*
AGENTS.md*
mobiagent/
build-profile.json5*
*.diff
/mock/workflows-source
*.bak
.codex-log/
.sandbox_dump/
.vscode/
/.codex-tmp/
/hvigor-workspace-review-fix-*/
/.codex
/docs/superpowers/
/docs/media/*.mp4
/.superpowers/brainstorm/
/mobile_file_example/
/.agents/
.agents
/**/__pycache__/
/**/.DS_Store
/screenshot-Harmony.jpg
